# Configurações de Conexão - Supabase
SUPABASE_URL=sua_url_do_projeto_aqui
SUPABASE_KEY=sua_chave_anonima_aqui

# Configurações de Autenticação - Z-API
ZAPI_INSTANCE_ID=seu_id_de_instancia_aqui
ZAPI_TOKEN=seu_token_de_instancia_aqui
ZAPI_CLIENT_TOKEN=seu_token_de_seguranca_aqui